<div class="background-image bckgrnd-black">

<div class="header">
  <ul>
    <li class="float-right padding-right-submit">Enter your Location: &nbsp; {{input placeholder="Sacramento, CA" action="submitLocation"}}</li>
  </ul>
</div>

<br><br>

{{outlet}}
 <div class="logo">
    <center><h2>CONCERT<br><span class="second-logo">match</span></h2></center>
 </div>
</div>